benchmark antlr 
  class dacapo.antlr.AntlrHarness;

size small args "-o","./scratch","-grammars","antlr/java.g"
 output
   stdout digest 0x1fdda3f0af68c67c53cd5cdd18c94f1978499b3e,
   stderr digest 0xdad1e41f6321fe17f7fcb73a790bedd69a777d41,
   "JavaLexer.java",
   "JavaRecognizer.java",
   "JavaTokenTypes.java" digest(text) 0x531c7a3bdc41185f7db175cfe216d13b8a9bae0a,
   "JavaTokenTypes.txt" digest(text) 0x9645d441047a61dfc4c0ab6e4fa66f74d66cac17;

size default args "-o","./scratch",
                  "-iterations","2",
		  "-grammars","antlr/cpp/calc.g","antlr/cpp/column.g",
		     "antlr/cpp/data.g", "antlr/cpp/expr.g", 
		     "antlr/cpp/html.g", "antlr/cpp/idl.g", 
		     "antlr/cpp/instr.g", "antlr/cpp/javadoclex.g",
		     "antlr/cpp/javadocparse.g", "antlr/cpp/java.g",
		     "antlr/cpp/javalex.g", "antlr/cpp/javaparse.g", 
		     "antlr/cpp/java.tree.g", "antlr/cpp/lexer.g",
		     "antlr/cpp/parser1.g", "antlr/cpp/parser2.g",
		     "antlr/cpp/P.g","antlr/cpp/rewrite.g", 
		     "antlr/cpp/subc.g","antlr/cpp/t.g",
		     "antlr/cpp/treewalk.g", "antlr/csharp/calc.g",
		     "antlr/csharp/data.g", "antlr/csharp/expr.g", 
		     "antlr/csharp/html.g", "antlr/csharp/idl.g",
		     "antlr/csharp/instr.g", "antlr/csharp/javadoclex.g",
		     "antlr/csharp/javadocparse.g", "antlr/csharp/java.g",
		     "antlr/csharp/javalex.g", "antlr/csharp/javaparse.g",
		     "antlr/csharp/java.tree.g", "antlr/csharp/lexer.g",
		     "antlr/csharp/t.g", "antlr/csharp/tinyc.g", 
		     "antlr/csharp/track.g", "antlr/csharp/unicode.g",
		     "antlr/java/calc.g", "antlr/java/data.g",
		     "antlr/java/expr.g", "antlr/java/html.g", 
		     "antlr/java/idl.g", "antlr/java/instr.g",
		     "antlr/java/javadoclex.g", "antlr/java/javadocparse.g",
		     "antlr/java/java.g", "antlr/java/javalex.g", 
		     "antlr/java/javaparse.g", "antlr/java/java.tree.g",
		     "antlr/java/lexer.g", "antlr/java/links.g",
		     "antlr/java/pascal.g","antlr/java/P.g", 
		     "antlr/java/rewrite.g","antlr/java/subc.g",
		     "antlr/java/t.g", "antlr/java/TinyBasic.g",
		     "antlr/java/TinyBasicTreeWalker.g", "antlr/java/tinyc.g",
		     "antlr/java/track.g", "antlr/java/treewalk.g", 
		     "antlr/java/unicode.g","antlr/java/xml.g"
  output
    stdout digest 0x48a0c230c35d8db2d0f6affdc11d4061840eb6f6,
    stderr digest 0x459b3713364a15cb610ce084bd22f352833c3255;

size large args "-o","./scratch",
                "-iterations","5",
		"-grammars","antlr/cpp/calc.g","antlr/cpp/column.g",
		   "antlr/cpp/data.g", "antlr/cpp/expr.g","antlr/cpp/html.g",
		   "antlr/cpp/idl.g", "antlr/cpp/instr.g",
		   "antlr/cpp/javadoclex.g","antlr/cpp/javadocparse.g",
		   "antlr/cpp/java.g","antlr/cpp/javalex.g",
		   "antlr/cpp/javaparse.g", "antlr/cpp/java.tree.g",
		   "antlr/cpp/lexer.g","antlr/cpp/parser1.g",
		   "antlr/cpp/parser2.g","antlr/cpp/P.g",
		   "antlr/cpp/rewrite.g", "antlr/cpp/subc.g",
		   "antlr/cpp/t.g","antlr/cpp/treewalk.g",
		   "antlr/csharp/calc.g","antlr/csharp/data.g",
		   "antlr/csharp/expr.g", "antlr/csharp/html.g",
		   "antlr/csharp/idl.g","antlr/csharp/instr.g",
		   "antlr/csharp/javadoclex.g","antlr/csharp/javadocparse.g",
		   "antlr/csharp/java.g","antlr/csharp/javalex.g",
		   "antlr/csharp/javaparse.g","antlr/csharp/java.tree.g",
		   "antlr/csharp/lexer.g","antlr/csharp/t.g",
		   "antlr/csharp/tinyc.g", "antlr/csharp/track.g",
		   "antlr/csharp/unicode.g","antlr/java/calc.g",
		   "antlr/java/data.g","antlr/java/expr.g",
		   "antlr/java/html.g", "antlr/java/idl.g",
		   "antlr/java/instr.g","antlr/java/javadoclex.g",
		   "antlr/java/javadocparse.g","antlr/java/java.g",
		   "antlr/java/javalex.g", "antlr/java/javaparse.g",
		   "antlr/java/java.tree.g","antlr/java/lexer.g",
		   "antlr/java/links.g","antlr/java/pascal.g",
		   "antlr/java/P.g", "antlr/java/rewrite.g",
		   "antlr/java/subc.g","antlr/java/t.g",
		   "antlr/java/TinyBasic.g","antlr/java/TinyBasicTreeWalker.g",
		   "antlr/java/tinyc.g","antlr/java/track.g",
		   "antlr/java/treewalk.g", "antlr/java/unicode.g",
		   "antlr/java/xml.g"
  output
    stdout digest 0x707aadb2210e1c05cfdd4ccfef030bcfa9133053,
    stderr digest 0xd4ed5bbee0ca30fd6f05222f60848c50f83d5eb6;

description
  short		"A parser generator and translator generator",
  long		"ANTLR parses one or more grammar files and generate a parser and lexical analyizer for each.",
  copyright	"Public Domain",
  author	"Terence Parr",
  license	"Public Domain",
  url		"http://www.antlr.org",
  version	"2.7.2",
  threads	"Single threaded",
  repeats	"Two iterations, each parses 44 distinct grammar files";
