benchmark sunflow
  class dacapo.sunflow.SunflowHarness;

size small args "32"
  output stdout digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709,
         stderr digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709;

size default args "128"
  output stdout digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709,
         stderr digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709;

size large args "512"
  output stdout digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709,
         stderr digest 0xda39a3ee5e6b4b0d3255bfef95601890afd80709;

description
  short		"A photo-realistic rendering system",
  long		"sunflow renders a classic Cornell box; a simple scene comprisng two teapots and two glass spheres within an illuminated box",
  copyright	"Copyright (c) Christopher Kulla",
  author	"Christopher Kulla",
  license	"BSD-style.",
  url		"http://sunflow.sourceforge.net",
  version	"svn r139",
  threads	"The benchmark renders 32x32 tiles, and uses Runtime.getRuntime().availableProcessors() to render those tiles in parallel according to the number of available processors.",
  repeats	"Single iteration runs a single iteration of the sunflow benchmark";
