<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <meta name="description" content="The Jikes Research Virtual Machine"/>
  <meta name="keywords" content="virtual machine,  java,  research"/>
  <link rel="stylesheet" type="text/css" media="screen,projection" href="/stylesheets/screen.css"/>
  <link rel="stylesheet" type="text/css" media="screen,projection"
        href="http://media.codehaus.org/styles/unity-code.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css"/>
  <title>$space.name - ${page.pageKey}</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <a href="/">
        <span class="title">Jikes RVM</span>
        <span class="subtitle">The Jikes Research Virtual Machine</span>
      </a>
    </div>

    <div id="content">
      <h1 id="page-title">${page.pageKey}</h1>
      <div id="page-fragment">$!{pageFragment}</div>
    </div>

    <div id="quicklinks">
      <h1 id="quicklinks-title">Quick Links</h1>
      <div id="quicklinks-fragment">$!{quicklinksFragment}</div>
    </div>
    <div id="breadcrumbs">
      <h1 id="breadcrumbs-title">Breadcrumbs</h1>
      <ul>
          #if ($page.pageKey != "Home")
          #foreach($breadcrumb in $breadcrumbs)
          <li><a href="/${breadcrumb.pageKey}">${breadcrumb.pageKey}</a></li>
          <li class="breadcrumbs-separator">&lt;</li>
          #end
          #end
          <li><a href="/">Home</a></li>
      </ul>
    </div>

    <div id="menu">
      <h1 id="menu-title">Menu</h1>
      <div id="menu-fragment">
    #if (${navigationFragment})
    ${navigationFragment}
    #end
        </div>
    </div>
</div>

  <div id="footer">
    <p>
      <a class="xhtml-validator" href="http://validator.w3.org/check?uri=referer" title="Validate code as W3C XHTML 1.1 Strict Compliant">W3C XHTML 1.0</a> | 
      <a class="css-validator" href="http://jigsaw.w3.org/css-validator/" title="Validate Style Sheet as W3C CSS 2.0 Compliant">W3C CSS 2.0</a>
    </p>
  </div>

</body>
</html>
