# 
# ant.properties.sample
#
# Sample customization for the ant script.  Save
# under the name 'ant.properties'
#
# $Source$
# $Revision$
# $Date$
# $Author$
#

# Point this to your eclipse installation
eclipse.dir=/home/palm/MyEclipse/eclipse
