<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 (C) Copyright IBM Corp., 2002.

 $Source$
 $Revision$
 $Date$
 $Author$
 $Id$

 @author Jeffrey Palm

-->
<plugin
   name="%pluginName"
   id="com.ibm.jikesrvm.launching"
   version="@PLUGIN.VERSION@"
   provider-name="%providerName"
   class="com.ibm.jikesrvm.eclipse.jdt.launching.JikesRVMLaunchingPlugin">

  <!-- Required plugins -->
  <requires>
     <import plugin="org.eclipse.core.runtime"/>
     <import plugin="org.eclipse.ui"/>
     <import plugin="org.eclipse.jdt.debug"/>
     <import plugin="org.eclipse.debug.core"/>
     <import plugin="org.eclipse.core.resources"/>
     <import plugin="org.eclipse.jdt.core"/>
     <import plugin="org.eclipse.jdt.launching"/>
     <import plugin="org.eclipse.swt"/>
     <import plugin="org.eclipse.jdt.ui"/>
  </requires>
  
  <!-- Runtime -->
  <runtime>
     <library name="jikesrvm2launching.jar">
     </library>
  </runtime>
  
  <!-- Extensions -->
  <!-- Extension points -->
  <extension point="org.eclipse.jdt.launching.vmInstallTypes"
		name="%launching"
	id="launching">  
     <vmInstallType
           class="com.ibm.jikesrvm.eclipse.jdt.launching.JikesRVMInstallType"
           id="com.ibm.jikesrvm.eclipse.jdt.launching.JikesRVMType">
     </vmInstallType>
  </extension>

  <extension point="org.eclipse.ui.preferencePages" id="prefpage"
		name="%prefPage">
    <page id="com.ibm.jikesrvm.eclipse.ui.JikesRVMPreferencePage"
          name="%prefPageName"
	  class="com.ibm.jikesrvm.eclipse.ui.JikesRVMPreferencePage">
    </page>
  </extension>

</plugin>
  
